.textContainer {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  max-width: 90%;
  padding: 10px;
  overflow: hidden; 
  white-space: nowrap; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); 
  background: linear-gradient(to right, #00c6ff, #0072ff);
  background-clip: text; 
  -webkit-background-clip: text;
  animation: typing 3s steps(30) forwards, fadeout 3s steps(30) forwards;
}


.textContainer {
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.8);
}

@media (max-width: 1200px) {
  .textContainer {
    font-size: 2rem; 
  }
}

@media (max-width: 768px) {
  .textContainer {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  .textContainer {
    font-size: 0.6rem; 
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) translateX(0); 
  }
  to {
    opacity: 0;
    transform: translateY(20px) translateX(0); 
  }
}

@keyframes typing {
  from {
    width: 0;
    white-space: nowrap;
  }
  to {
    width: 100%;
    white-space: nowrap;
  }
}
